<mat-toolbar color="primary">
  <span>Locomotive Image Editor</span>
</mat-toolbar>

<div class="container">

    <div class="my-2 w-100">
        <h2 >Brightness</h2>
        <mat-slider min="0.1" max="2" step="0.1" value="1" discrete [displayWith]="getValue" class="w-100">
          <input [(value)]="brightness" matSliderThumb />
        </mat-slider>
      </div>
      
    <div class="mb-2 w-100">
        <h2 >Zoom</h2>
        <mat-slider min="1" max="5" step=".2" value="1" discrete [displayWith]="getValue" class="w-100">
          <input [(value)]="zoom" matSliderThumb />
        </mat-slider>
      </div>

    <div class="image-container">
      <img
        [src]="imageSrc"
        [ngStyle]="getImageAttributes()" #image
      />
    </div>
</div>
